*{
	padding: 0px;
	margin: 0px;
}


body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



@keyframes swing {
  0%, 100% { transform: rotate(-30deg); }
  20% { transform: scale(0.95);}
  80% { transform: scale(0.95);}
  50% { transform: rotate(30deg); }
}


@keyframes rotate {
  0% { transform: rotate(0deg); } 
  100% { transform: rotate(360deg); } 
}


@keyframes write{
	0% {transform: translateX(0px);}
	100%{transform: translateX(200px);}
}


@keyframes aparece{
	0%{opacity: 0; visibility: hidden;}
	100%{opacity: 1; visibility: visible;}
}




nav{
	background-color: #A52A2A;
	text-align: center;
}


#poem{
	border-top: 2px solid white;
}

.first{
	display: flex;
	justify-content: flex-start;
	padding: 0px;
}

.menu {
	z-index: 1;
	display: flex;
}

.pointer{
	cursor: pointer;
}

.titleEric {
	font-family: 'Abril Fatface', cursive;
	font-size: 40px;
	flex-grow: 1;
	text-decoration: none;
	color: white;
	padding: 10px;
	padding-left: -5px;
	text-shadow: 3px 0 0 black;
}

.submenu{
	overflow: hidden;
	position: relative;
	top: -130px;
	// visibility: hidden;
	// opacity: 0;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin:0px;
	background-color: #A52A2A;
	color: white;

}

.textsubmenu{
	width: 100%;
	text-align: center;
	font-size: 30px;
	border-bottom: 2px solid white;
}

.textsubmenu:hover{
	background-color: #b16767;
}


.submenu h1{
	border: 2px solid white;
}


.fa-6{
	
	font-size: 200px;
}

.fa-3{
	font-size: 100px;
}

.fa-2{
	font-size: 50px;
}


.fa-cog{
	animation: rotate 8s linear infinite;
}

.fa-bars{
	padding: 10px;
	color: white;
	text-shadow: 2px 2px 2px black;
}



.main-content{
	flex:1;
}


.wrapper{
	padding: 2em;
	justify-content: space-around;
	display: flex;
	flex-direction: row;

}




.pincel{

	animation: write 4s linear;

}



.letter{
	font-size: 50px;
	font-family: 'Abril Fatface', cursive;
	margin-right: -2px;
	display: inline-block;
}



.letterp{
	animation: aparece 1s 1s linear;
}

.lettero{
	animation: aparece 1s 1.8s linear;
}

.lettere{
	animation: aparece 1s 2.6s linear;
}
.letterm{
	animation: aparece 1s 3.8s linear;
}

.letters{
	animation: aparece 1s 4s linear;

}

.projects{
	font-family: 'Abril Fatface', cursive;
	font-size: 50px;

}


.separator{
	margin-top: 40px;
}

.button-royal{
	background-color: black;
	color: white;
}

.button-royal:hover{
	background-color:grey ;
	color:black;
}


.wrapper-blog{
	width: 100%;
	margin-top: 8rem;
	justify-content: space-around;
	display: flex;
	flex-direction: row;
}

.title-blog{
	width: 80%;
	border-color: black;
	border: 2px solid black;

}

.content-blog{
	display: flex;
	justify-content: flex-start;
	border-color: black;
	border-top: 2px solid black;
}


.title{
	font-family: 'Abril Fatface', cursive;
	font-size: 50px;
	text-align: center;
}

.image-blog{
	padding: 20px;
	height: 100%;
	width: 200px;
	min-width: 200px;
	min-height: 200px;
	border-radius: 60px;
}


.text-blog{
	padding: 40px;
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
}


footer{

	margin-top: 80px;
	background-color: #292929;
	color:white;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}


.footer-content{
	padding: 50px;
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	align-items: center;
}


#myself{
	animation: swing 4s ease-out infinite;
	height: 70px;
	width: 70px;
	border-radius: 60px;
}

.butn{
	margin-top: 15px;
	display: flex;
	flex-direction:row;
	justify-content:flex-end;
}

.paginator{
	display: flex;
	flex-direction:row;
	justify-content: center;
	padding: 50px;
}

.pagination{
	margin-right: 4px;
	font-size: 20px;
	background-color: black;
}




.butn-leer{
	background-color: black;
}

.butn-leer:hover{
	background-color: grey;
	color: black;
}


.pagination:hover{
	background-color: grey;
	color: black;
}


@media screen and (max-width: 360px) and (min-width: 200px) {
  .wrapper {
    margin-top: 1em;
  }
}


.submenu.active{
	transition: transform 2s;
}


.active{
	transform: translateY(130px);
}


.submenu.up{
	transition: transform 3s;
}


.up{
	transform: translateY(-130px);
}



.sinefectos{
	text-decoration: none;
	color: white;
}

.sinefectos:visited{
	color:white;
	text-decoration: none;
}